Source: janus-client
Section: admin
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Standards-Version: 4.5.1
Build-Depends:
 debhelper-compat (= 13),
Homepage: https://www.sipwise.com/

Package: ngcp-janus-client
Architecture: all
Depends:
 ${misc:Depends},
 ${perl:Depends},
Description: javascript websocket client interface for janus server
 This package provides a javascript websocket client interface to communicate
 with a janus server.
