Source: janus-client
Section: admin
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends:
 debhelper (>= 9~),
Standards-Version: 3.9.7
Homepage: https://www.sipwise.com/

Package: ngcp-janus-client
Architecture: all
Depends:
 ${misc:Depends},
 ${perl:Depends},
Description: javascript library to implement the websocket
  interface towards the janus server
