Source: janus-client
Section: admin
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Standards-Version: 3.9.8
Build-Depends:
 debhelper (>= 10),
Homepage: https://www.sipwise.com/

Package: ngcp-janus-client
Architecture: all
Depends:
 ${misc:Depends},
 ${perl:Depends},
Description: javascript library to implement the websocket
  interface towards the janus server
